<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>164456930003-9k7s9nn5p57l7v9i4ltej19nusokg0i9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.164456930003-9k7s9nn5p57l7v9i4ltej19nusokg0i9</string>
	<key>API_KEY</key>
	<string>AIzaSyAcq4huCC0awrMcwqnl6R8Yd463gDEkF1k</string>
	<key>GCM_SENDER_ID</key>
	<string>164456930003</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>AhmedKassem.com.breakPoint</string>
	<key>PROJECT_ID</key>
	<string>breakpoint-a7ae5</string>
	<key>STORAGE_BUCKET</key>
	<string>breakpoint-a7ae5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:164456930003:ios:71607faedb58e499</string>
	<key>DATABASE_URL</key>
	<string>https://breakpoint-a7ae5.firebaseio.com</string>
</dict>
</plist>